@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";

    @model LeaveApplication.Models.LeaveApplication
}
<div class="container mt-5 w-50">

    <div style="margin-top:20%" class="row justify-content-center align-content-center">
        <div class="col">
            <div class="card ">
                <div class="card-header card-header-info">
                    <h3 class="card-title d-inline">Add Education</h3>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            @using (Html.BeginForm("submit", "Profile", FormMethod.Post))
                            {
                                <div class="d-flex justify-content-center">

                                    <table class="table table-hover ">
                                        <tbody>
                                            <tr>
                                                <th class="text-info" scope="row">Degree Tittle</th>
                                                <td><input type="text" required name="DegreeTittle" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <th class="text-info" scope="row">Field</th>
                                                <td><input type="text" required name="field" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <th class="text-info" scope="row">Institute</th>
                                                <td><input type="text" required name="institute" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <th class="text-info" scope="row">Year</th>
                                                <td>@Html.TextBoxFor(m => m.LeaveType, new { @class = "form-control datetimepicker ", required = "required" })</td>
                                            </tr>
                                            <tr>
                                                <th class="text-info" scope="row">Certificate</th>
                                                <td><button type="submit" class="btn btn-info">add</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.datetimepicker').datetimepicker({
            format: 'DD/MM/YYYY',

            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove',

            }

        });
    }
</script>