
@{
    ViewBag.Title = "Publications";
    Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center">
            <div class="card">
                <div class="card-header ">
                    <div class="row">
                        <div class="col">
                            <div class="card-title" style="font-family:g1;font-size:22px">Publications</div>
                        </div>
                        <div class="col d-flex justify-content-end">
                          
                        </div>
                        <div class="col d-flex justify-content-end">
                            <a id="Add" href="#"><img class="mr-2"data-toggle="tooltip" data-placement="top" title="Add Author" src="~/Images/icons/iconfinder_add_126583.png" width="20" /></a>
                            <a id="h1" href="#"><img id="ic" width="20" src="~/Images/icons/matticons_solid_collapse-511.png" /></a>
                        </div>
                    </div>


                </div>
                <div class="container">
                    <div id="c1" class="card-body">
                        <div class="card ">
                            <div id="form" class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group d-flex justify-content-center">
                                            <input class="form-control col-12" placeholder="Title" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group d-flex justify-content-center">
                                            <input class="form-control col-12" placeholder="Published Date" />
                                        </div>
                                    </div>
                                    <div class="col-6">

                                        <div class="form-group form-file-upload form-file-multiple">
                                            <input type="file" id="fl" multiple="" class="inputFileHidden">
                                            <div class="input-group">
                                                <input type="text" id="fl1" class="form-control inputFileVisible col-12" placeholder="Attach Document">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-fab btn-round btn-primary">
                                                        <i class="material-icons">attach_file</i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group d-flex justify-content-center">
                                            <div class="p-1 col-12" style="border:solid 1px #A9A9A9">
                                                <textarea class="form-control col-12" required="required" placeholder="Description" style="font-size:22px" cols="20" rows="6"></textarea>
                                                @*@Html.TextAreaFor(m => m.Description, new { @class = "form-control col-12", required = "required", placeholder = "Description", style = "font-size:22px", cols = "20", rows = "6" })*@
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group d-flex justify-content-center">
                                            <input name="Publication.Authors[0]" required class="form-control col-12" placeholder="Author" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>

    </div>


</div>

<script>
    var i = 1;
    $(document).ready(function () {
        $('#h1').click(function () {
            if ($('#c1').is(':visible')) {
                $('#c1').hide('fade');
                $('#ic').attr('src', '/Images/icons/matticons_solid_expand-512.png');
            } else {
                $('#c1').show('fade');
                $('#ic').attr('src', '/Images/icons/matticons_solid_collapse-511.png');
            }


        })
        $('#fl1').click(function () {
            $('#fl').trigger('click');
        });
        $('#fl').change(function () {
            console.log(document.getElementById('fl').files.item(0).name);
            document.getElementById('fl1').value  = document.getElementById('fl').files.item(0).name;
        });
        $('#Add').click(function () {
            $('#form').append(`<div class="row"><div class="col-12"><div class="form-group d-flex justify-content-center"><input name="Publication.Authors[${i}]" required class="form-control col-12" placeholder="Author" /></div></div></div>`);
            ++i;
        })
    });

</script>
<script src="~/Scripts/DateTimePickerHelper.js"></script>

