
@{
    ViewBag.Title = "UploadImage";
    Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}
<link rel="stylesheet" href="~/Content/croppie.css" />
<script src="~/Scripts/croppie.js"></script>
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img id="img" />
                            <input hidden id="fl" type="file" onchange="Load()" />
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col d-flex justify-content-center">
                            <h3 id="er" style="display:none" class="text-danger">Invalid Image</h3>
                        </div>
                    </div>

                </div>
                <div class="card-footer">




                    <button id="fl1" class="btn btn-round btn-block btn-outline-info">Select Image</button>
                    <button id="sbt" class="btn btn-round btn-block btn-outline-info" style="display:none">Submit</button>
                </div>
            </div>

            <img id="d" />

        </div>
    </div>

</div>
<script src="~/Scripts/FileValidation.js"></script>
<script>

    var basic = $('#img').croppie({
        viewport: {
            width: 300,
            height: 300,
            type: 'square'
        },
        boundary: {
            width: 400,
            height: 400
        }
    });
    basic.croppie('bind', {
        url: '/Images/mark.jpg',

    });
    function Load() {
        var imageUrl = URL.createObjectURL(event.target.files[0]);

        basic.croppie('bind', {
            url: imageUrl,

        });
        var file = document.getElementById('fl');
        if (IsValidImage(file)) {
            $('#sbt').show('fade');
        }
        else {
            $('#er').show();
        }
    }
    //on button click
    $('#sbt').click(function () {
        var file = document.getElementById('fl');
        if (IsValidImage(file)) {
            basic.croppie('result', 'blob').then(function (blob) {
                // html is div (overflow hidden)
                // with img positioned inside.

                //to render cropped blob
                var imageUrl = URL.createObjectURL(blob);
                $('#d').attr('src', imageUrl);
                var fd = new FormData();
                fd.append('fname', file.files[0].name);
                fd.append('img', blob);
                $.ajax({
                    method: "POST",
                    url: "/Profile/UploadImage",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        $('#ld').hide('fade', function () {
                            window.location.href = "/Profile/";
                        });


                    },
                    error: function (error) {
                        alert(error.statusText);
                        window.location.href = "/Profile/UploadImage";
                    }
                });
            });
        } else {
            $('#er').show();
        }

    })


    $(document).ready(function () {
        $(document).ajaxStart(function () {
            // Show image container
            $('#fl1').hide('fade');
            $('#sbt').hide('fade');
            $('.card-footer').append(` <button id="ld" class="btn btn-block  btn-info-grd" type="button" disabled>
<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
UpLoading...
</button>`);
        });
        $('#fl1').click(function () {
            $('#fl').trigger('click');
        });
    });
</script>
@if (ViewBag.Error != null)
{
   <script>
    $(document).ready(function () {
        alert("Invalid Image");
    })
   </script>
}