

<div class="card">

    <div class="card-body">
        <div class="card-title">
            <div class="row">
                
                <div class="col">
                    <h4 style="font-family:g1">Leave Balance</h4>
                </div>
                <div class="col">
                    <button type="button" class="close" aria-label="Close" onclick="$('#bal1').html('')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>


        </div>
        <table class="table table-hover">
            <thead>
                <tr>

                    <th scope="col" id="EmpNameHead">Employee Name</th>
                    @foreach (System.Data.DataRow x in Model.Tables[0].Rows)
                    {
                        <th scope="col" class="text-center text-info">@x[0].ToString()</th>
                    }

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="EmpName"></td>
                    @foreach (System.Data.DataRow x in Model.Tables[0].Rows)
                    {
                        <td class="text-center">@x[1].ToString()</td>
                    }

                </tr>
            </tbody>
        </table>
    </div>
</div>

