
@{
    ViewBag.Title = "AffectedUsers";
     Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}

<h2 class="text-center text-white mt-5 "style="font-family:g1" >AffectedUsers</h2>
<hr class="bg-white mt-0"/>
@model System.Data.DataSet

<div class="row mt-1 vh-100">
    <div class="col ">
        <div class="card">
            <div class="card-header card-header-info " >
                <h4 class="card-title text-center text-white"style="font-family:g1;font-size:20px">Affected Employees</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover ">
                    <thead class="">
                        <tr class="">
                            <th scope="col">Employee Name</th>
                            <th scope="col">Department</th>
                            <th scope="col">Leave Type</th>
                            <th scope="col">Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ System.Data.DataSet x = Model;
                            foreach (System.Data.DataRow i in x.Tables[0].Rows)
                            {
                                <tr>

                                    <td>@i[0].ToString()</td>
                                    <td>@i[1].ToString()</td>
                                    <td>@i[2].ToString()</td>
                                    <td>@ViewBag.Count</td>
                                </tr>
                            }
                        }



                    </tbody>
                </table>
            </div>
            <div class="card-footer justify-content-end">
                <button type="button" class="btn btn-info-grd mr-1" onclick="location.href='/Admin/CancelAssignLeave'">Cancel</button>
                <button type="button" class="btn btn-info-grd" onclick="location.href='/Admin/Submit'">Submit</button>
               

            </div>

        </div>

    </div>
</div>

