
@{
    ViewBag.Title = "AffectedUsers";
     Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}

<h2>AffectedUsers</h2>
@model System.Data.DataSet

<div class="row mt-lg-5">
    <div class="col ">
        <div class="card">
            <div class="card-header  " style="background-color:#FEFCFB">
                <h4 class="card-title text-center">Affected Employees</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-striped ">
                    <thead class="">
                        <tr class="table-dark">
                            <th scope="col">Employee Name</th>
                            <th scope="col">Department</th>
                            <th scope="col">Leave Type</th>
                            <th scope="col">Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ System.Data.DataSet x = Model;
                            foreach (System.Data.DataRow i in x.Tables[0].Rows)
                            {
                                <tr>

                                    <td>@i[0].ToString()</td>
                                    <td>@i[1].ToString()</td>
                                    <td>@i[2].ToString()</td>
                                    <td>@ViewBag.Count</td>
                                </tr>
                            }
                        }



                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="d-flex  justify-content-end">

                    <button type="button" class="btn btn-primary mr-1" onclick="location.href='/Admin/CancelAssignLeave'">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='/Admin/Submit'">Submit</button>
                </div>
                <div class="d-flex  justify-content-end">

                    

                </div>
                
            </div>
        </div>

    </div>
</div>

