@model List<System.Data.DataSet>
@{
    ViewBag.Title = "AssignLeave";
    Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}@*<div class="d-flex vh-100">
        <div class="d-flex justify-content-center align-self-center">
            I'm in the middle
        </div>
    </div>*@
    <div class="d-flex justify-content-center align-self-center position-absolute">
        <div id="ac" class="  spinner-border text-primary "></div>
    </div>
    
<div class="container  ">
    <div class=" row vh-100">
        <div class=" col  justify-content-center align-self-center">
            @{ if (ViewBag.ValidationError == true)
                {

                    <div id="alert" class="alert alert-danger  fade-in">

                        <strong>Error!</strong>  Kindly fill all fields.
                    </div>
                }
            }
            <div class="card">

                @using (Html.BeginForm("AffectedUsers", "Admin", FormMethod.Post))
                {<div class="card-header card-header-info">
                        <h4 class="card-title">Assign Leave</h4>
                        <table class="col-lg-6 col-md-8 col-sm-12 col-12 ">
                            <tr class="form-group">
                                <td>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="All Employess" >
                                        <label class="custom-control-label text-white" for="customRadio1">All Employess</label>
                                    </div>

                                </td>
                                <td>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"value="All(Select Department)">
                                        <label class="custom-control-label text-white" for="customRadio2">All(Select Department)</label>
                                    </div>

                                </td>
                                <td>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input"checked value="Select Employee" >
                                        <label class="custom-control-label text-white" for="customRadio3">Select Employee</label>
                                    </div>

                                </td>
                            </tr>
                        </table>

                    </div>

                    <div class="card-body">
                        <div class="form-group d-flex justify-content-center  ">
                            <select id="dep" name="dep" required onchange="ShowEmployees()" class="form-control col-lg-6 col-md-6 col-sm-12 col-12">
                                <option selected disabled hidden value="default">Select Department</option>
                                @{ System.Data.DataSet ds2 = Model[1];
                                    foreach (System.Data.DataRow x in ds2.Tables[0].Rows)
                                    {
                                        <option value="@x[0].ToString()">@x[1].ToString()</option>
                                    }
                                }
                            </select>


                        </div>
                        <div id="empdiv" class="form-group d-flex justify-content-center ">
                            <select id="emp" name="emp" required class="form-control col-lg-6 col-md-6 col-sm-12 col-12">
                                <option selected disabled>Select Employee</option>



                            </select>


                        </div>


                        <div class="form-group d-flex justify-content-center">
                            <select id="lev" name="lev" required class="form-control col-lg-6 col-md-6 col-sm-12 col-12 ">
                                <option selected disabled hidden>Select Leave Type</option>
                                @{ System.Data.DataSet ds1 = Model[0];
                                    foreach (System.Data.DataRow x in ds1.Tables[0].Rows)
                                    {
                                        <option value="@x[0].ToString()">@x[1].ToString()</option>
                                    }
                                }
                            </select>


                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <input id="count" name="count" class="form-control col-lg-6 col-md-6 col-sm-12 col-12" type="text" placeholder="Enter Count" />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center card-footer">
                        <input type="submit" class="  btn btn-block btn-info-grd btn-round col-lg-6 col-md-6 col-sm-12 col-12" value="Proceed" />
                    </div>

                }
            </div>
            
           
       
        </div>
    </div>
</div>
<script>
  
    $(document).ready(function () {
       
        function  show(){
                    $('#ac').hide();
        }

       
      
        if (document.getElementById("alert")) {
            setTimeout(Hide, 3000)
        }
        function Hide() {
            $('#alert').hide('fade');
        }

        $('#customRadio1').click(function () {
            $('#dep').hide('fade');
            $('#emp').hide('fade');

        });
        $('#customRadio2').click(function () {
            document.getElementById('dep').value = 'default';
            $('#dep').show('fade');
            $('#emp').hide('fade')
        });
        $('#customRadio3').click(function () {
            document.getElementById('dep').value = 'default';
            $('#dep').show('fade');
        });
        $('#emp').hide();
    });
   
    function ShowEmployees() {
        if (document.getElementById('customRadio3').checked == true) {
              $('#emp').show('fade');
        $('#emp').empty();
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = fun;
            Department = { DepartmentId: document.getElementById('dep').value }
           
        function fun() {
            if (this.readyState == 4 && this.status == 200) {
                var x = null
                x = JSON.parse(this.responseText);

                if (x.length != 0) {

                    for (var i = 0; i < x.length; i++) {
                        $('#emp').append(`<option value="${x[i].EmployeeID}">${x[i].EmployeeName}</option>`)
                       
                    }
                } else { $('#emp').hide(); }

            }
        };
        xmlhttp.open("POST", "/Admin/GetEmployees", true);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(Department));
        }
      
    }

</script>