@model List<LeaveApplication.Models.Designation>

@{
    ViewBag.Title = "Designation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Modal for edit form-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("UpdateDesignation", "Admin", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group d-flex justify-content-center my-auto">
                        <input type="text" id="id" name="id" hidden />
                        <input id="edittxt" name="edittxt" type="text" class="form-control" value="Change me....." />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info-grd">Save changes</button>
                </div>
            }

        </div>
    </div>
</div>
@* ------------------------------------------ *@


<div id="div1" class="container" style="margin-top:5%">
    <div class="row  justify-content-center align-content-center">

        <div class="col-sm-12 col-md-12 col-lg-12 mb-3 ">
            <div class="card">
                <div class="card-header card-header-info">
                    <h5 class="card-title">Enter Designations</h5>
                </div>
                <div class=" card-body">

                    <div class="card">
                        @using (Html.BeginForm("AddDesignation", "Admin", FormMethod.Post, new { id = "form1" }))
                        {<div class="form-group d-flex  justify-content-center ">
                                <input type="text" required name="designation" class="form-control " placeholder="Designation" />
                                <input id="Submit1" class="btn btn-info-grd  ml-2" type="submit" value="Add Designation" />

                            </div>




                        }
                    </div>
                  
                    <table id="t1" class="table table-hover  table-light">
                        <thead>
                            <tr class="text-center">


                                <th scope="col">Designations</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{LeaveApplication.Models.Designation j = new LeaveApplication.Models.Designation();
                                foreach (LeaveApplication.Models.Designation x in Model)
                                {
                                    <tr>
                                        <td class="text-dark align-middle text-center">@x.designation </td>

                                        <td>
                                            <div class="d-flex justify-content-end">
                                                <div class="btn-group">
                                                    <button class="btn btn-info-grd" data-toggle="modal" data-target="#exampleModalCenter" onclick="ModelOnclick(this.parentNode.parentNode.parentNode.parentNode,@x.DesignationID)">Edit</button>
                                                    <button class="btn btn-info-grd" onclick="document.getElementById('@x.DesignationID').submit()">Delete</button>
                                                </div>
                                                @using (Html.BeginForm("DeleteDesignation", "Admin", FormMethod.Post, new { id = x.DesignationID }))
                                                {
                                                    <input type="text" name="DesignationID" value="@x.DesignationID" hidden />

                                                }
                                            </div>

                                        </td>
                                    </tr>
                                }
                            }



                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>
  
</div>

