
@model System.Data.DataSet
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}

<div id="div1" class="container-fluid" style="margin-top:5%">
    <div class="row  justify-content-center align-content-center vh-100">

        <div class="col-12  mb-3 ">
            <div class="card">
                <div class="card-header card-header-info">
                    <h5 class="card-title">Manage Employee</h5>
                </div>
                <div class="card-body">


                    <div class="table-responsive table-responsive-md table-responsive-sm">
                        <table id="t1" class="table table-hover table-light">
                            <thead>
                                <tr class="text-center">

                                    <th scope="col">Employee Name</th>
                                    <th scope="col">Department</th>

                                    <th scope="col">Designation</th>
                                    <th scope="col" class="text-right">Action</th>
                                    <th scope="col" class="text-right">Active/De-Activate</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ System.Data.DataSet x = Model;
                                    foreach (System.Data.DataRow i in x.Tables[0].Rows)
                                    {
                                        <tr class="text-center ">
                                            <td class="text-info align-middle">@i[1].ToString()</td>
                                            <td class="text-info align-middle">@i[2].ToString()</td>
                                            <td class="text-info align-middle">@i[3].ToString()</td>

                                            
                                            <td class="align-middle">
                                                <div class="d-flex justify-content-end">
                                                    <div class="btn-group">
                                                        <button class="btn btn-info-grd" onclick="window.location.href='/Admin/EditEmployees?EmployeeID=@i[0]'">Edit</button>


                                                    </div>

                                                </div>

                                            </td>
                                            <td class="align-middle "style="width:200px" >
                                                <div class="togglebutton text-right">
                                                    <form name="a">
                                                        <label>
                                                            @{
                                                                if (bool.Parse(i[4].ToString()) == true)
                                                                {
                                                                    <input type="checkbox" checked onclick="EmployeeStateChange(this,@i[0].ToString())">
                                                                    <span class="toggle"></span>//statechange code in custom.js
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" onclick="EmployeeStateChange(this,@i[0].ToString())">
                                                                    <span class="toggle"></span>
                                                                }
                                                            }

                                                        </label>
                                                    </form>

                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }



                            </tbody>
                        </table>

                    </div>



                </div>
                <div class="card-footer justify-content-end">
                    <ul class="pagination pagination-info ">
                        <li class="page-item "><a class="page-link" href="#" onclick="set_active(this.parentNode)">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#" onclick="set_active(this.parentNode)">1</a></li>
                        <li class="page-item"><a class="page-link" href="#" onclick="set_active(this.parentNode)">2</a></li>
                        <li class="page-item"><a class="page-link" href="#" onclick="set_active(this.parentNode)">3</a></li>
                        <li class="page-item"><a class="page-link" href="#" onclick="set_active(this.parentNode)">Next</a></li>
                    </ul>
                </div>
            </div>



        </div>
    </div>



</div>





