@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/AboutLayout.cshtml";
}
<h1 class="text-center text-dark " style="font-family:'Times New Roman', Times, serif;">Our Team</h1>

<div class="row justify-content-center   ">

    <div class="card">
        <div class="card-header">
            <h3>Our Team</h3>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col d-flex justify-content-center">
                    <div style="width:300px" class="card mb-3">
                        <h3 class="card-header card-title">Qasim Pasta</h3>
                        <div class="card-body">
                            <h5 class="card-title">Position</h5>
                            <h6 class="card-subtitle ">Supervisor</h6>
                        </div>
                        <img style="height: 300px; width: 100%; display: block;" src="~/Images/79012466_204483663912905_8810331760973296041_n.jpg" alt="Card image">
                        <ul class="list-group list-group-flush">
                            <li class="justify-content-center list-group-item bg-dark">

                                <a href="https://www.linkedin.com/in/mqpasta/" target="_blank" class="text-white">
                                    <img src="~/Images/linkedin.png" width="20" />Qasim Pasta
                                </a>

                            </li>

                        </ul>


                    </div>

                </div>
                <div class="col d-flex justify-content-center">
                    <div style="width:300px" class="card   mb-3">
                        <h3 class="card-header card-title">Muhammad Rafay</h3>
                        <div class="card-body">
                            <h5 class="card-title">Position</h5>
                            <h6 class="card-subtitle ">Developer</h6>
                        </div>
                        <img style="height: 300px; width: 100%; display: block;" src="~/Images/Rafay.jpg" alt="Card image">

                        <ul class="list-group list-group-flush">
                            <li class="justify-content-center list-group-item bg-dark">

                                <a href="https://www.linkedin.com/in/muhammad-rafay-51563417a/" target="_blank" class="text-white">
                                    <img src="~/Images/linkedin.png" width="20" />Muhammad Rafay
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>

                <div class="col d-flex justify-content-center">
                    <div style="width:300px" class="card    mb-3">
                        <div class="card-header">
                            <h3 class="card-title ">Muhammad Aamir</h3>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Position</h5>
                            <h6 class="card-subtitle ">Developer</h6>
                        </div>
                        <img style="height: 300px; width: 100%; display: block;" src="~/Images/Aamir.jpg" alt="Card image">
                        <ul class="list-group list-group-flush">
                            <li class="justify-content-center list-group-item bg-dark">

                                <a href="https://www.linkedin.com/in/muhammad-aamir-805bb91a2/" target="_blank" class="text-white">
                                    <img src="~/Images/linkedin.png" width="20" /> Muhammad
                                    Aamir
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>




</div>
