
@model List<LeaveApplication.Models.Attendance>
@{
    ViewBag.Title = "NotifiedList";
    Layout = "~/Views/Shared/EmpProfileLayOut.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-5">
                <div class="card-body">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th scope="col">Employee No</th>
                                <th scope="col">Employee Name</th>
                                <th scope="col">Date</th>
                                <th scope="col">Abscent Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (LeaveApplication.Models.Attendance x in Model)
                            {
                                <tr>
                                    <td>@x.EmpNo</td>
                                    <td>@x.EmployeeName</td>
                                    <td>@x.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@x.Abscent</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @using (Html.BeginForm("SendNotifications", "Attandence", FormMethod.Post))
                {

                    <div class="card-footer justify-content-center">
                        <button type="submit" class="btn btn-info-grd btn-block">Notify Absentees</button>
                    </div>

                }

                </div>

        </div>
    </div>
</div>

